JOB_LISTINGS_JSON_URL='https://raw.githubusercontent.com/opengovsg/careersgovsg-jobs-data/refs/heads/main/data/job-listings.json'
LINKEDIN_API_URL='https://api.linkedin.com'

LINKEDIN_AUTHOR_URN=linkedin_page_or_person_placeholder
LINKEDIN_ACCESS_TOKEN=placeholder_access_token_value

OPENAI_ENDPOINT='https://api.openai.com/'
OPENAI_API_KEY=placeholder_openai_api_key_value

CRON_SECRET=placeholder_secret_value

# When true, will publish posts with no feed distribution
# see https://learn.microsoft.com/en-us/linkedin/marketing/community-management/shares/posts-api?view=li-lms-2026-01&source=recommendations&tabs=curl#create-dark-posts
DRY_RUN=true
