JOB_LISTINGS_JSON_URL='https://raw.githubusercontent.com/opengovsg/careersgovsg-jobs-data/refs/heads/main/data/job-listings.json'

CLOUDFLARE_ACCOUNT_ID=placeholder_cloudflare_account_id_value
CLOUDFLARE_API_TOKEN=placeholder_cloudflare_api_token_value
CF_TITLES_KV=placeholder_cloudflare_titles_kv_value
CF_AGENCIES_KV=placeholder_cloudflare_agencies_kv_value
CF_AI_MODEL_NAME=placeholder_cloudflare_ai_model_name_value


OPENAI_ENDPOINT='https://api.openai.com/'
OPENAI_API_KEY=placeholder_openai_api_key_value
OPENAI_MODEL_NAME=placeholder_openai_model_name_value

CRON_SECRET=placeholder_secret_value

FILLOUT_FORM_ID=placeholder_fillout_form_id_value
FILLOUT_CONTENT_ID=placeholder_fillout_content_id_value
FILLOUT_STEP_ID=placeholder_fillout_step_id_value
FILLOUT_FLOW_OWNER_USER_ID=placeholder_fillout_flow_owner_user_id_value
FILLOUT_ORGANIZATION_ID=placeholder_fillout_organization_id_value

# Not used for now as we are posting via other means

# LINKEDIN_API_URL='https://api.linkedin.com'

# LINKEDIN_AUTHOR_URN=linkedin_page_or_person_placeholder
# LINKEDIN_ACCESS_TOKEN=placeholder_access_token_value


# When true, will publish posts with no feed distribution
# see https://learn.microsoft.com/en-us/linkedin/marketing/community-management/shares/posts-api?view=li-lms-2026-01&source=recommendations&tabs=curl#create-dark-posts
# DRY_RUN=true
